/* .app-container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 2rem; */
  /* background-color: #f9f9f9; */
/* }

.content h1 {
  color: #333;
  margin-bottom: 1rem;
}

.content p {
  color: #666;
  font-size: 1.1rem;
} */
